@import "tailwindcss";

@theme {
  --font-sans: "Roboto";
}

@layer base {
  html {
    font-family: var(--font-sans);
    margin: 0;
    @apply text-amber-900;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }
}

@layer utilities {
  .text-shadow-amber {
    text-shadow: 2px 2px 4px rgba(217, 119, 6, 0.5);
  }
}
