@import "tailwindcss";

@theme {
    --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    html {
      font-family: var(--font-sans);
      margin: 0;
    }

    main {
      @apply bg-cover bg-center bg-no-repeat relative;
    }
    main::before {
      @apply absolute inset-0 bg-[url('/bgimage.jpg')] bg-cover opacity-65;
      content: '';
      z-index: 1;
    }
    main > * {
      @apply relative z-10;
    }

    h1 {
      @apply text-4xl font-semibold
    }

    h2 {
      @apply text-3xl font-semibold
    }
}